html{
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
}

body{
    /* background-color: black; */
    padding-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;   
    max-width: 100%;
    max-height: 100%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

header nav li{
    display: inline-block;
    margin-left: 20px;
}

header nav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-image: url('./images/red-samurai.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    
    width: 100%; 
}

.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
}

.projects li{
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.skontact{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    padding: 50px 20px;
    width: 100%;
}

.skills{
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.contact{
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
footer{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

